<!DOCTYPE html>
<meta charset="utf-8">

<head>

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
	<script src="app/helpers/timestamp.filter.js"></script>


<style>

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf <!--{
  pointer-events: none;
}-->

</style>
</head>
<div id="container" style="width:100%;" ng-app="app" ng-controller="TweetListCtrl" >                                   
  <div id="left" style="float:left; width:65%;">
		<svg id="circle-draw" width="63vw" height="95vh" ></svg>
 </div>                     
  <div id="right" style="float:right; width:35%; height:100%"> 
		<h1 align="center">Tweets Sample</h1>
		<div class="timeline-viewport" >
			<div class="timeline-tweetlist">
				<div class="timeline-tweetlist-tweet"
				              ng-repeat="tweet in tweets | limitTo:100">
				  <div class="timeline-tweet sentiment" ng-class="tweet.sentiment === 'positive' ? 'positive' : 'negative'">
				    <div class="tweet-author">
				      <div class="tweetauthor"
				                    ng-init="user = tweet">
				        <a href="" class="tweetauthor-link">
				          <span class="tweetauthor-avatar">
				            <img class="avatar"
				              ng-src="img/twitter-default-avatar-egg.jpg"
				          <span class="tweetauthor-name" ng-bind="user.name"></span>
				          <span class="tweetauthor-screenname">
				            @
				            <span ng-bind="user.screen_name"></span>
				          </span>
				        </a>								 
				      </div>
				    </div>

				    <p class="tweet-text" ng-bind-html="highlight(tweet.text,activeTerm)" | highlight:activeTerm">  </p>
				    <div class="tweet-metadata">
				       <!--<span class="tweet-timestamp" ng-bind="tweet.created_at | timestamp | date:'medium'"></span>-->
				       <span class="tweet-timestamp" ng-bind="tweet.created_at"></span>
				    </div>
				  </div>
				</div>
			</div>
		<input type="text" class="ng-hide" name="lastName" ng-model="focus.name"> </label>
		</div>
		
	</div>                   
</div> 

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

//variable for angular scope (scope controller TweetListCtrl)
//Access a variable from scope: scope.qsi 
//Write a variable from scope and display any change: scope.qsi = "change";scope.$apply();
var scope;
function plot(){
var svg = d3.select("svg"),
    margin = 70,
    diameter = +(0.525 * window.innerWidth) /*+svg.attr("width")*/,
    g = svg.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

var color = d3.scaleLinear()
    .domain([-1, 5])
    .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
    .interpolate(d3.interpolateHcl);

var pack = d3.pack()
    .size([diameter - margin, diameter - margin])
    .padding(2);

d3.json("data/flare.json", function(error, root) {
  if (error) throw error;

  root = d3.hierarchy(root)
      .sum(function(d) { return d.size; })
      .sort(function(a, b) { return b.value - a.value; });

  var focus = root,
      nodes = pack(root).descendants(),
      view;

  var circle = g.selectAll("circle")
    .data(nodes)
    .enter().append("circle")
      .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
      .style("fill", function(d) { return d.children ? color(d.depth) : d.data.color })
      .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

  var text = g.selectAll("text")
    .data(nodes)
    .enter().append("text")
      .attr("class", "label")
      .style("fill-opacity", function(d) { return d.parent === root ? 1 :  0; })
      .style("display", function(d) { return d.parent === root ? "inline" :  "none"; })
      .text(function(d) { return d.data.name; });

  var node = g.selectAll("circle,text");

  svg
      .style("background", color(-1))
      .on("click", function() { zoom(root); });

  zoomTo([root.x, root.y, root.r * 2 + margin]);

  function zoom(d) {
    var focus0 = focus; focus = d; scope.focus = focus.data; scope.displayTweets(); scope.$apply();

    var transition = d3.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .tween("zoom", function(d) {
          var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
          return function(t) { zoomTo(i(t)); };
        });

    transition.selectAll("text")
      .filter(function(d) { return d.parent === focus || this.style.display === "inline" || (d === focus && !d.children); })
        .style("fill-opacity", function(d) { return d.parent === focus || (d === focus && !d.children) ? 1 : 0; })
        .on("start", function(d) { if (d.parent === focus || (d === focus && !d.children) ) this.style.display = "inline"; })
        .on("end", function(d) { if (d.parent !== focus && (d !== focus) ) this.style.display = "none"; });
  }

  function zoomTo(v) {
    var k = diameter / v[2]; view = v;
    node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
    circle.attr("r", function(d) { return d.r * k; });
  }
});
};

plot();
window.onresize = function(event) {
	var element = document.getElementsByTagName("svg")[0];
	console.log(element)
	
	while (element.firstChild) {
    element.removeChild(element.firstChild);
	}		
	plot();
}
</script>

